{{#app-canvas}}
    <div class="inner-wrap">
        <!-- OFF CANVAS MENU BAR -->
        {{ top-navigation title="Accounts" leftWidget="controls/side-menu-trigger" rightWidget='accounts/controls/top-add-account-trigger' }}
        <!-- END NAV.TAB-BAR HIDE-FOR-LARGE-UP -->

        {{side-menu}}

        <section class="main-section">
            <div class="row">
                <div class="small-12 columns">

                    <div class="row">
                        <ul class="tabs justified">
                            {{#each item in allTypes }}
                                {{# view 'accounts/tab-link' active-type=targetType carrier-type=item.id parentController=controller }}
                                    {{#link-to 'accounts.list' item.id }}
                                        {{ item.name }}
                                    {{/link-to}}
                                {{/view}}
                            {{/each}}
                        </ul>
                    </div>
                    <div class="row">
                        {{#each flashMessages.queue as |flash|}}
                            {{flash-message flash=flash messageStyle='foundation'}}
                        {{/each}}
                        
                        <div class="tabs-content">
                            <div class="content active">

                                {{#each model as |item| }}
                                    {{ accounts/list-item parentController=controller carrier=item carrier_name=item.carrier.name plan_type=item.plan_type group_number=item.group_number action="removeCarrier" }}
                                {{else}}
                                    <!-- message for no carriers yet here -->
                                    <div class="row">
                                        <div class="small-10 small-offset-1 columns">
                                            <div class="wrapper text-center">
                                                <h4>Oops! No {{ carrier-type-account-label targetType }} accounts added yet.</h4>
                                                <h6 class="subheader">Hey {{ user.greetingsName }}, we can't tell you much without some accounts added to Ember App.</h6>
                                            </div>
                                            <ul class="stack button-group">
                                                <li>
                                                    {{#link-to "accounts.add" targetType class="button round"}}Add Your First {{ carrier-type-account-label targetType }}{{/link-to}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ removeInsightsFlag }}
        {{ bottom-navigation }}

        <!-- CLOSE THE OFF-CANVAS MENU -->
        <a class="exit-off-canvas"></a>
    </div>

    <div id="remove-confirmation-modal" class="reveal-modal" data-reveal aria-labelledby="insight-modal" aria-hidden="true" role="dialog">
        <h4 class="modal-title text-center">Remove Account</h4>
        <p class="modal-content text-center">Are you sure you want to remove this account? You will no longer be able to see any data associated with this account unless you re-add the account later.</p>
        <ul class="stack button-group">
            <li>
                <a class="button round expand close-reveal-modal" aria-label="Close">I changed my mind.</a>
            </li>
            <li>
                <a id="remove-item-link" data-item-id="" data-element-id="" class="button round expand alert" href="#" {{action "removeItem" }}>

                    <i class="fa fa-trash fa-fw"></i>Yes, I'm sure.
                </a>
            </li>
        </ul>
    </div>
{{/app-canvas}}